includes:
#    - vendor/pepakriz/phpstan-exception-rules/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true

    paths:
        - %currentWorkingDirectory%/src

    ignoreErrors:
        - message: '#^PHPDoc type string of property Narrowspark\\HttpStatus\\Exception\\Abstract\w+ErrorException::\$message is not the same as PHPDoc type mixed of overridden property Exception::\$message.$#'
          path: src/
        - message: '#^Property Narrowspark\\HttpStatus\\Exception\\Abstract\w+ErrorException::\$headers type has no value type specified in iterable type array.$#'
          path: src/
        - message: '#^Method Narrowspark\\HttpStatus\\Exception\\Abstract\w+ErrorException::__construct\(\) has parameter \$headers with no value type specified in iterable type array.$#'
          path: src/
